@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
/*font-family: 'Roboto', sans-serif;*/

* {
    margin: 0;
    padding: 0;
}

/*nav*/
nav {
    background-color: #ce5d507a;
    height: 35vh;

}

.navbar-nav {

    align-items: center;
    gap: 100px;
    text-align: center;
    margin-left: 20vw;
    margin-bottom: -15vh;

}


.nav-item a {
    color: #fdf0e4;
    font-size: 1.5em;

}

.nav-item a:hover {

    border-radius: 75px;
    width: 150px;
    background-color: aliceblue;
    color: #d2675a;

}

/*logo de la nav*/
.navbar-brand img {
    width: 188px;
    height: 188px;
    border-radius: 100px;
    margin-left: 20px;
    margin-bottom: -84%;
    border: solid 2px #d2675a;

}



/*imagen de portada*/
#banner {
    background-image: url(./img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 165vh;

}

/*texto de portada*/
#texto-portada {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50vw;
    padding-top: 25vh;
    padding-right: 5vw;
    font-family: 'Roboto', sans-serif;
    color: white;

}

#texto-portada p {
    color: #573732;
    font-size: 1.7em;
    padding-top: 8vh;
    padding-bottom: 8vh;
}

#texto-portada h1 {
    color: #573732;
}

/*boton principal*/
.btn-portada {
    --bs-btn-bg: #573732;
    color: white;
    border-radius: 50px;
    font-size: 1.5em;
    padding: 15px;
    align-self: center;



}

.btn:hover {

    --bs-btn-bg: #d2675a;
}

/*section calidad*/
.calidad {
    padding: 20px;
    text-align: center;
    background-color: #573732;
}

.titulo-seccion-1 {
    color: #ffbfa5;
}

.calidad .img-fluid {
    margin-right: 20px;
    width: 180px;
}

/*section recetas*/
.recetas {


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

#seccion-recetas {
    background-color: #ffbfa5;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 20px;

}

.titulo-seccion-2 {
    background-color: #ffbfa5;
    color: #573732;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -10px;
}



#seccion-recetas .card-body {
    background-color: #573732;


}

#seccion-recetas .card {
    width: 350px;
    color: #ffbfa5;

    margin: 5px;
}

#seccion-recetas .card .btn-card {

    color: #573732;
    --bs-btn-bg: #ffbfa5;
    border-radius: 0%;
    padding: 2%;
    margin-top: 17px;
    display: flex;
    justify-content: center;
    margin: auto;

}

#seccion-recetas .card .btn-card:hover {
    color: #ffbfa5;
    background-color: black;
}

#seccion-recetas .card img {
    border-radius: 0%;
    height: 200px;
    margin-top: 0;
}


/*seccion productos*/

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 100vw;

}


.container img {
    width: 100%;
    margin: 0%;

}



.texto-producto-1,
.texto-producto-2,
.texto-producto-3,
.texto-producto-4 {
    color: #ffbfa5;
    padding: 15%;

}

.parr-1 {
    color: #fdf0e4;
}

.parr-2 {
    font-weight: 600;
    margin-bottom: 10%;
}

.bg {
    background-color: black;
    padding: 0;
    max-width: 100%;

}



.titulo-seccion-3 {

    background-color: #573732;
    color: #ffbfa5;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}


.btn-info {
    background-color: transparent;
    border: solid 4px #ffbfa5;
    text-decoration: none;
    color: #ffbfa5;
    font-size: 1.3em;
    padding: 5px 18px 5px 18px;
    margin-left: 40%;

}

.prod-1 {
    grid-column: 1 / 2;
    grid-row: 1;
    margin: 0;
    padding: 0;

}

.texto-producto-1 {
    grid-column: 2 / 3;
    grid-row: 1;
}

.prod-2 {
    grid-column: 2 / 3;
    grid-row: 2;
    margin: 0;
    padding: 0;

}

.texto-producto-2 {
    grid-column: 1 / 2;
    grid-row: 2;
}

.prod-3 {
    grid-column: 1 / 2;
    grid-row: 3;
    margin: 0;
    padding: 0;
}

.texto-producto-3 {
    grid-column: 2 / 3;
    grid-row: 3;
}

.prod-4 {
    grid-column: 2 / 3;
    grid-row: 4;

}

.texto-producto-4 {
    grid-column: 1 / 2;
    grid-row: 4;
}


/*seccion contacto*/
.titulo-seccion-4 {

    color: #ffbfa5;
    padding-bottom: 20px;

}

#card-contacto {
    background-color: #ffbfa5;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;

}

.contacto {

    text-align: center;
    background-color: #573732;
    padding-top: 20px;
    padding-bottom: 20px;
}

#postre {

    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

}

.img-contacto {

    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


form {
    margin-top: 10px;
    width: 100%;

}

form .btn-form {
    background-color: #65403b;
    width: 80%;
    margin-top: 30px;
    padding: 8px;
    color: #ffbfa5;
    font-weight: 600;
    border: none;
    border-radius: 25px;
}

form label {
    color: #281917;
    font-weight: 600;

}



input,
textarea {
    margin-top: 12px;
    width: 80%;
    border: none;
    background-color: #65403b;
    color: #ffbfa5;
    font-weight: 600;
}

/*footer*/
footer {

    max-width: 1200vw;
    background-color: #281917;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;


}

footer .logo img {
    grid-column: 1 / 2;
    grid-row: 1;
    width: 150px;
    border-radius: 75%;
    margin-left: 125px;

}

footer .menu {
    grid-column: 2 / 3;
    grid-row: 1;
}

footer .navegacion {
    grid-column: 3 / 4;
    grid-row: 1;
}


footer .m-top-redes {
    grid-column: 4 / 5;
    grid-row: 1;

}

footer .ubicacion {
    grid-column: 5 / 6;
    grid-row: 1;
    margin-left: -17px;

}

footer .mapa {
    margin-right: -51px;
}

footer .copy {
    color: #fdf0e4;
    font-weight: 500;
    grid-column: 3 / 5;
    grid-row: 2;
    padding-bottom: 20px;
    text-align: center;
}

footer .texto-li {
    color: #ffbfa5;
    font-weight: 600;

}

footer ul,
img {
    margin-top: 30px;
}

footer li {
    color: white;
    list-style: none;
}



footer .redes {
    width: 33px;
    border-radius: 75%;
    margin-bottom: 0px;
    margin-top: 6px;

}




/**MEDIAS QUERYS*/
@media screen and (max-width: 1200px) {
    .navbar-brand img {
        margin-bottom: 0;
        width: 200px;
        height: auto;
        margin-left: -5px;
    }

    .navbar-toggler {
        margin-top: -128px;
    }

   
}

@media screen and (max-width: 1115px) {
    .recetas {

        grid-template-columns: repeat(2, 1fr);
        grid-area: 'c-1 c-2', 'c-3';

    }

    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        text-align: center;
    }


    .prod-1 {

        grid-column: 1 / 2;
        grid-row: 1;
    }

    .texto-producto-1 {
        grid-column: 1 / 2;
        grid-row: 2;
    }

    .prod-2 {
        grid-column: 1 / 2;
        grid-row: 3;
    }

    .texto-producto-2 {
        grid-column: 1 / 2;
        grid-row: 4;
    }

    .prod-3 {
        grid-column: 1 / 2;
        grid-row: 5;
    }

    .texto-producto-3 {
        grid-column: 1 / 2;
        grid-row: 6;
    }

    .prod-4 {
        grid-column: 1 / 2;
        grid-row: 7;
    }

    .texto-producto-4 {
        grid-column: 1 / 2;
        grid-row: 8;
    }
}


@media screen and (max-width:992px) {

    .ocultar-div {
        display: none;
    }

    .nav-item {
        margin-top: -108px;
        margin-right: 15px;

        }


    #texto-portada {
        justify-content: center;
        align-content: center;
        margin: auto;
        width: 80%;
        text-align: center;

    }

    .nav-item .contacto {
        margin-bottom: 10px;
    }

    .recetas {

        grid-template-columns: repeat(1, 1fr);
        grid-area: 'c-1', 'c-2', 'c-3';
    }

    footer {
        text-align: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;

    }

    footer img {
        margin-left: 0%;
    }

    footer .logo {

        grid-column: 1 / 4;
        grid-row: 1;
    }

    footer .menu {
        grid-column: 2 / 3;
        grid-row: 2;
    }

    footer .navegacion {
        grid-column: 2 / 3;
        grid-row: 3;
    }

    footer .lasredes {
        grid-column: 2 / 3;
        grid-row: 4;
    }

    footer .ubicacion {
        grid-column: 2 / 3;
        grid-row: 5;
    }

    footer .copy {
        grid-column: 2 / 3;
        grid-row: 6;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        /* Apila las columnas en pantallas pequeñas */
    }

    .column {
        width: 100%;
        /* Hace que las columnas ocupen el ancho completo en pantallas pequeñas */
    }
}


@media screen and (max-width:770px) {
    #postre {

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-area: 'img-contacto', 'h5-f', 'formu';

    }

    form label,
    input {

        text-align: center;
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .navbar-brand img {
       
        width: 150px;
        height: auto;
    }

    .navbar-toggler {
        margin-top: -75px;
    }

    .navbar-nav {
        margin-top: -56px;
        margin-left: 106px;
    }
}