@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
/*font-family: 'Roboto', sans-serif;*/

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #d2675a;
    height: 25vh;

}

.nav-item a {
    color: white;

}

.nav-item a:hover {

    border-radius: 75px;
    width: 150px;
    background-color: aliceblue;
    color: #d2675a;

}

.navbar-brand img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-left: 20px;
    margin-bottom: -60%;
    border: solid 2px #d2675a;

}

.navbar-nav {
    display: flex;
    font-size: 1.2rem;
    justify-content: right;
    margin: auto;
    align-items: center;
    gap: 100px;
    text-align: center;

}

#banner {
    background-image: url(./img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    padding-bottom: 20vh;

}

#texto-portada {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50vw;
    padding-top: 15vh;
    padding-right: 5vw;
    font-family: 'Roboto', sans-serif;
    color: white;

}

#texto-portada p {
    color: #573732;
    font-size: 1.7em;
}

#texto-portada h1 {
    color: #573732;
}

.btn {
    background-color: #573732;
    color: white;
    max-width: fit-content;
    border-radius: 50px;
    font-size: 1.5em;
    padding: 15px;
    align-self: center;

}

.btn:hover {

    background-color: #d2675a;
}

/**MEDIAS QUERYS*/
@media screen and (max-width: 1200px) {
    .navbar-brand img {
        margin-bottom: 0;
    }
}

@media screen and (max-width:992px) {
    .navbar-nav {
        gap: 2px;
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: -26px;
    }


    .navbar-brand img {
        width: 150px;
        height: 150px;
    }

    #texto-portada {
        justify-content: center;
        align-content: center;
        margin: auto;
        width: 80%;
        text-align: center;

    }
}

@media screen and (max-width: 990px) {
    .navbar-brand {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: auto;
    }

    nav {

        height: 45vh;

    }

}