* {
    margin: 0;
    padding:0;
}

body {
    background-image: url(./img/fondo.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    background-color: deepskyblue;
    background-size: cover;
    width: 100%;
}